
.box {
   width: 300px;
   height: 150px;
   background-color: #f2f2f2;
   border: 1px solid #ccc;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   text-align: center;
   background-color: aqua;
   grid-auto-rows: max-content;
   color: blue;
 }
 


 .heart-container {
   position: relative;
   width: 200px;
   height: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 .heart-symbol {
   font-size: 200px;
   color: red;
   position: relative;
 }
 
 .heart-text {
   position: absolute;
   font-size: 20px;
   color: rgb(187, 222, 11);
   text-align: center;
   width: 100%;
   top: 50%;
   transform: translateY(-50%);
 }
 
 